//colors
$primary-color: #ec1f55;
$text-color: #333;
$white-color: #fff;
$gray-color: rgb(175, 173, 173);
$btn-color: rgba(0, 0, 0, 0.39);
$progress-color: rgba(0, 0, 0, 0.2);
$background-color: #FAFAFC;
$medium-font: 1.625rem;
$small-font: 1rem;
//font-family
$fontFamily: "Poppins", sans-serif;
